<footer class="site-footer h-card" style="background-color:#feeed1;">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a id="u-email" class="u-email" href="link">text</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
    </div>

  </div>

  <script TYPE="text/javascript">
    domain='outlook.com'
    address='afornelas'
    e=(address + '@' + domain)
    document.getElementById("u-email").text=e;
    document.getElementById("u-email").href="mailto:"+e;
  </script>
</footer>