<style>
    body {
        margin: 0px;
    }

    .main {
        display: flex;
        width: 99%;
        margin-right: auto;
        margin-left: auto;
    }

    .article {
        flex: 1;
        margin-top: 12px;
        margin-left: 2px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #333333;
        background-color: #ffd27d;
        padding: 4%;
        border-radius: 2rem;
    }

    .right {
        order: 1;
        width: 250px;
        float: right;
        padding: 6px;
        background-color: #FFED9E;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #333;
        border-radius: 2rem;
        margin-top: 12px;
        margin-right: 2px;
        margin-left: 24px;
        font-weight: bold;
    }

    .left {
        display: flex;
        align-items: center;
        width: 150px;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #0070DF;
        box-sizing: border-box;
        margin-left: 16px;
        padding-top: 6px;
        padding-right: 6px;
        padding-bottom: 6px;
        padding-left: 6px;
        margin-top: 12px;
        font-weight: bold;
    }

    .left-bottom {
        display: none;
    }

    .footer {
        height: 60px;
        width: 99%;
        margin-right: auto;
        margin-left: auto;
        background-color: #F4F4F4;
        margin-bottom: 4px;
        padding-top: 8px;
        text-align: center;
        margin-top: 12px;
        font-size: 20px;
        font-weight: bold;
        color: #333333;
    }

    .right-foot {
        display: none;
    }

    .left-foot {
        display: none;
    }

    .padding
    {
        padding: 10px 10px 10px;
    }

    @media (min-width:1200px) {
        /* Super Scale Displays */
        .article {
            min-width: 30rem;
            max-width: 70rem;
        }
        .left-bottom {
            display: none;
        }
        .left {
            display: none;
        }
    }

    @media (max-width:1200px) {
        /* Normal 1080p Target */
        .article {
            min-width: 30rem;
        }

        .left {
            display: none;
        }

        .right-foot {
            display: none;
        }

        .left-foot {
            display: none;
        }
    }

    @media (max-width:900px) {
        /* Mobile Page */
        .article {
            min-width: 10rem;
        }

        .right {
            display: none;
        }

        .right-foot {
            display: block;
            height: 115px;
            width: 99%;
            margin-right: auto;
            margin-left: auto;
            background-color: #FFED9E;
            color: #666666;
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 2px;
            font-size: 16px;
            margin-top: 18px;
        }

        .left-foot {
            display: block;
            height: 70px;
            width: 99%;
            margin-right: auto;
            margin-left: auto;
            color: #666666;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            margin-top: 4px;
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 2px;
            font-size: 12px;
            padding-top: 6px;
            margin-top: 18px;
        }
    }
</style>

<div class="main">
    <div class="article">
        <p style="font-size: 35px;font-weight: bolder;color: #414141;line-height: 110%;">
            Adrian Francisco Duran Ornelas
        </p>
        <p style="font-size: 18px;color: #414141;line-height: 130%;">
            <b>University of California, Irvine '27</b><br>

            Ph.D, Material Science & Engineering<br>

            <b>University of California, Irvine '23</b><br>

            Bachelors of Science, Aerospace Engineering
        </p>
        <p style="color: #414141;">
            {{ include.description }}
        </p>
    </div>
    <div class="right">
        <center style="margin:0; position: relative; top:50%; -ms-transform:translateY(-50%); transform:translateY(-50%);">
            <p style="margin-bottom: 0px;font-size: 18px;">
                Experience
            </p>
            <p style="font-weight: lighter;font-size: 14px;">                
                <!-- <a style="color: #414141;text-decoration: underline;" href="">Material Science</a><br>
                <a style="color: #414141;text-decoration: underline;" href="">Aerospace Engineering</a><br> -->
                <a style="color: #414141;text-decoration: underline;" href="{% post_url 2021-07-23-HyperXite_VI %}">Embedded Systems</a><br>
                <a style="color: #414141;text-decoration: underline;" href="{% post_url 2022-07-25-HyperXite_VII %}">Pneumatic Brakes</a><br>
                <a style="color: #414141;text-decoration: underline;" href="{% post_url 2023-2-7-HyperXite_8 %}">Electromagnetic Propulsion</a><br>
                <a style="color: #414141;text-decoration: underline;" href="{% post_url 2022-12-12-HPVC %}">Project Management</a><br>
                <a style="color: #414141;text-decoration: underline;" href="{% post_url 2022-10-04-steam_Controller_Synth %}">Acoustics</a><br>
                <a style="color: #414141;text-decoration: underline;" href="{% post_url 2022-10-18-ASME %}">SOLIDWORKS</a><br>
                <a style="color: #414141;text-decoration: underline;" href="{% post_url 2022-12-14-ASME Website %}">Web Development</a><br>
                <a style="color: #414141;text-decoration: underline;" href="{% post_url 2021-09-04-ENGITank-SLRP %}">Computer Graphics</a><br>
                <a style="color: #414141;text-decoration: underline;" href="{% post_url 2021-08-14-linearWinVolume %}">Python Data Science</a><br>
                <!-- <a style="color: #414141;text-decoration: underline;" href="VA">Intention Recognition</a><br> -->
            </p>
        </center>
    </div>
</div>

<br>
